body {
  background-color: aquamarine;
  font-family: sans-serif;
}

h1{
  color:blue;
  font-family:luminari;
}

H3{
  color:green;
  font-family: courier new;
}
  dt{
      color:green;
  font-family: courier new;

      }

table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: Red;
    color: white;
}
